/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 февр. 2020 г., 11:31:03
    Author     : iren_
*/
.slick-slide {
    outline: 0
}

.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

.slick-slide img
{
    display: block
}

.slick-initialized .slick-slide {
    display: block;
    text-align: center;
}

.hidden{
    display: none;
    
}

.review__company-img{
    max-height: 50px;
    max-width: 150px;
}


.plans__info-plan-img{
    
    max-width: 556px;
    max-height: 412px;

}

.plans__info-table-inner {
    height: 595px;
    overflow-y: auto;
}

.div_plans__info-plan-img{
    height: 420px;
}

@media (max-width: 1023px){
    .div_plans__info-plan-img {
        height: auto;
    }
    
}

.plans__info-plan {
    display: none;
}

.plans__info-plan.active {
    display: block;
}

.rating__middle-cost-num.rating__middle-cost-num_red{
    border: 3px solid #e94646;
    color: #e94646;
}

.rating__middle-cost-num.rating__middle-cost-num_yellow{
    border: 3px solid #f3ba25;
    color: #f3ba25;
}

.rating__middle-cost-num.rating__middle-cost-num_green{
    border: 3px solid #69ca60;
    color: #69ca60;
}

.rating__middle-cost-num.rating__middle-cost-num_orange{
    border: 3px solid #f38445;
    color: #f38445;
}

.desc__content-img{
    width: 202px;
    height: 202px;
    border-radius: 50%;
        
}

@media (max-width: 725px){
    .benefits__article_show .benefits__article-list{
        display: none !important;
    }
}

.docs__inner{
    margin-bottom: 20px;
}

.credit__item.lost{
    margin-right: 0px;
}

.credit__item-img{
    min-height: 81px;
    max-height: 81px;
}

#myChart {
    width: 300px;
    height: 220px;
    margin-bottom: 30px;
}

@media (min-width: 1023px){
    .chart__stat {
        margin-right: 20px;
        margin-bottom: 0;
        width: 800px;
    }
}

.modal-image {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .5s
}

.modal-image--active {
    opacity: 1;
    visibility: visible
}

.modal-image__close {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    position: absolute;
    top: 20px;
    right: 20px
}

.modal-image img,
.modal-photo-galery .galery__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.modal-image img {
    height: 80%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 70%
}

.modal-photo-galery {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s
}

.modal-photo-galery--active {
    opacity: 1;
    visibility: visible
}

.modal-photo-galery .galery__wrapper {
    max-height: 850px;
    width: 100%;
    max-width: 1690px;
    padding: 0 60px;
    background-color: transparent;
    border-radius: 4px
}

.modal-photo-galery .modal__title-box,
body.body--fixed .header-catalog .hr {
    display: none
}

.modal-photo-galery .galery__item {
    overflow: hidden;
    height: auto;
    max-height: 850px;
    width: 100%
}

.modal-photo-galery .galery__item .galery__item-img {
    height: 850px;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative
}

.modal-photo-galery .galery__item .galery__item-img .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #302f35;
    cursor: pointer;
    transition: all .1s;
    font-weight: 700
}

.modal-photo-galery .galery__item .galery__item-img .close:hover {
    transform: scale(1.1)
}

.modal-photo-galery .galery__item img {
    height: 100%
}

@media (max-width:1024px) {
    .modal-photo-galery .galery__item .galery__item-img,
    .modal-photo-galery .galery__item img {
        height: auto;
        width: 100%
    }
}

@media (max-width:767px) {
    .modal-photo-galery .galery__wrapper {
        padding: 0 30px
    }
}

@media (max-width:520px) {
    .modal-photo-galery .galery__wrapper {
        padding: 0 15px
    }
    .modal-photo-galery .galery__item .galery__item-img .close {
        font-size: 20px;
        top: 12px;
        right: 12px
    }
}

@media (max-height:940px) {
    .modal-photo-galery .galery__item .galery__item-img {
        max-height: 650px
    }
}

@media (max-height:690px) {
    .modal-photo-galery .galery__item .galery__item-img {
        max-height: 490px
    }
}

.modal-feedback {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    padding: 0 15px
}

.modal-feedback--active {
    opacity: 1;
    visibility: visible
}

.modal-feedback__wrapper {
    position: absolute;
    width: 802px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .45)
}

.modal-feedback__form {
    padding: 20px 20px 48px
}

.modal-feedback .modal__title {
    color: #fff
}

.modal-feedback .modal-feedback__form-field {
    margin-bottom: 20px;
    width: 100%
}

.modal-feedback .modal-feedback__form-input {
    width: 100%;
    padding: 12px 20px;
    font-size: 13px;
    outline: 0;
    border: 1px solid #929292
}

.modal-feedback .pink__btn {
    display: block;
    min-height: 42px;
    width: 230px;
    margin: 32px auto 0;
    font-size: 18px
}

@media (max-width:1024px) {
    .modal-feedback__wrapper {
        width: 95%
    }
    .modal-feedback .modal__title-box {
        background-color: #e94646;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: 16px
    }
    .modal-feedback .pink__btn {
        font-size: 16px
    }
    .modal-feedback__form {
        padding-bottom: 30px
    }
}




@media (min-width: 320px){
    .build__box-img {
        width: 320px;
        height: 220px;
        
    }
    .build__box {
        display: block;
        height: 220px;
    }
    .build__box-img-wrap{
        width: 320px;
        height: 220px;
    }
    .slick-slide img{
        display: unset;
    }
    .build__box-img-wrap.swiper-wrapper.non_visible{
        display:block;
    }
    
    .build__btn-more{
        display: none;
    }
}

@media (min-width: 1023px){
    .build__box-img {
        width: 320px;
        height: 220px;
        
    }
    .build__box {
        display: flex;
    }
    
    .build__box-img-wrap.swiper-wrapper.non_visible{
        display:none;
    }
    .build__btn-more{
        display: block;
    }
}

/*@media (min-width: 1024px){
    .build__box-img {
        width: 280px;
        height: 190px;
        
    }
}*/

@media (max-height: 690px){
    .modal-photo-galery .galery__item .galery__item-img {
        max-height: 490px;
    }
}

.estate__slider-nextBtn,
.estate__slider-prevBtn {
    position: absolute;
    top: 110px;
    width: 34px;
    height: 34px;
    content: "";
    border: 0;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: #fff;
    z-index: 1000;
    transition: background-color .5s .1s;
    background-image: url(../img/icon-arrow_left.svg);
    background-size: 17px 13px;
    background-repeat: no-repeat;
    background-position: 9px 11px
}

.estate__slider-nextBtn:hover,
.estate__slider-prevBtn:hover {
    background-color: rgba(255, 240, 240, .9)
}

.estate__slider-prevBtn {
    left: 0;
    margin-left: 20px;
    transform: rotateY(360deg)
}

.estate__slider-nextBtn {
    right: 0;
    margin-right: 20px;
    transform: rotateY(180deg)
}

@media (min-width: 768px){
.feedback__item.is-desktop.hidden {
    display: none!important;
}
}

.house__card-img{
    height: 302px;
}

.review__dev-img{
    max-height: 35px;
    max-width: 150px;
}

.error{
    border: 1px solid #e94646;
}

.plans__info-plan-btn-cost{
    z-index: 999;
}
.call_active{
    z-index: 9999;
}

.desc{
    font-style: normal;
    font-size: 14px;
}

.desc p {
    margin-bottom: 19px;
    color: #444;
    line-height: 1.6;
}

.desc strong{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #222;
    margin-bottom: 20px;
}

.desc__content-link{
    margin-bottom: 0px;
}

.desc__text{
    margin-top: 30px;
}

.call__form{
    overflow-x: auto;
    max-height: 90%;
}

textarea:focus, input:focus
{
  outline: none;
}

textarea{
    height: auto !important;
}




@media (min-width: 360px){
 
    .plans__info-col-etaj {
        margin-left: 40px;
    }
}

@media (max-width: 767px){
    .plans__info-col-etaj {
        margin-left: 310px;
    }
}

@media (max-width: 1023px){
    .plans__info-table-inner{
        height: 100%;
    }
}

nobr{
    word-wrap: break-word;
    white-space: pre-wrap;

}

.footer__social-link img {
    transition: transform .3s .1s
}

/*.footer__social-link:focus img,*/
.footer__social-link:hover img {
    transform: scale(.8)
}

.catalog-wrapper {
    width: 100%;
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 14px;
    /* text-align: center; */
}

.sort-box .search-list {
    margin-top: 38px;
}

.sort-box .search-list__item, .sort-box .search-list__item a {
    color: #929292;
    font-size: 14px;
}

.sort-box .search-list__item::after {
    content: '-';
    margin-left: 4px;
}

.sort-box .search-list__item:last-child::after {
    display: none
}
.politick{
   /* text-decoration: none;*/
    color: #999;
}





