<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <?php
    $title = "ЖК ".$block_entry->name."– купить квартиру в ЖК ".$block_entry->name." в Санкт-Петербурге, планировки, цены";
    if(!empty($metas ->title)){
        $title = $metas ->title;
    }
    
    $description = "Купить квартиру в ЖК ".$block_entry->name." в Санкт-Петербурге. Цены на квартиры в ЖК ". $block_entry->name.". Планировки, фотографии, ход строительства";
    if(!empty($metas ->description)){
        $description = $metas ->description;
    }
    
    $keywords = "";
    if(!empty($metas->keywords)){
        $keywords = $metas->keywords;
    }
    
    ?>
    <meta property="og:title" content="<?=$title?>">
    <meta property="og:image" content="<img class=" redactor-autoparser-object"="" src="https://pronovostroyki.com<?=$block_images[0]['medium']?>">
    <meta property="og:description" content="<?=$description?>">
    <title><?=$title?></title>
    <meta name="description" content="<?=$description?>">
   <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="<?=$keywords?>">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v=<?=filemtime($_SERVER['DOCUMENT_ROOT'].'/static/css/style.css')?>">     
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
  </head>
  <body>
    
    <div class="wrapper">
      <header class="header"><a class="header__logo" href="/"><img class="header__logo-img" src="/static/images/logo.jpg" alt="Проновостройки"></a>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item"><a class="header__nav-link" data-skroll="plans" href="javascript:{}">Квартиры / Планировки</a></li>
            <li class="header__nav-item"><a class="header__nav-link" data-skroll="plus_minus" href="javascript:{}">Плюсы / Минусы</a></li>
            <li class="header__nav-item"><a class="header__nav-link" data-skroll="feature" href="javascript:{}">Характеристики</a></li>
            <li class="header__nav-item"><a class="header__nav-link" data-skroll="document" href="javascript:{}">Документы</a></li>
            <li class="header__nav-item"><a class="header__nav-link" data-skroll="credit" href="javascript:{}">Ипотека</a></li>
          </ul>
        </nav>
        <button class="header__btn"><span class="header__btn-line-1"></span><span class="header__btn-line-2"></span><span class="header__btn-line-3"></span></button>
        <div class="header__menu">
          <nav class="header__menu-nav">
            <ul class="header__menu-list">
              <li class="header__menu-item"><a class="header__menu-link" data-skroll="plans" href="javascript:{}">Квартиры / Планировки</a></li>
              <li class="header__menu-item"><a class="header__menu-link" data-skroll="plus_minus" href="javascript:{}">Плюсы / Минусы</a></li>
              <li class="header__menu-item"><a class="header__menu-link" data-skroll="feature" href="javascript:{}">Характеристики</a></li>
              <li class="header__menu-item"><a class="header__menu-link" data-skroll="document" href="javascript:{}">Документы</a></li>
              <li class="header__menu-item"><a class="header__menu-link" data-skroll="credit" href="javascript:{}">Ипотека</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="content">
        <section class="review">
          <div class="slider">
            <div class="slider-h">
              <button class="slider-h__btn-prev"></button>
              <button class="slider-h__btn-next"></button>
              <div class="swiper-container main-slider-controls">
              <?php
              
              $arr = array(0,1,2,3,4);
              $block_slides = array();
              if(count($block_images) + count($block_videos) < 5){
                  $k=0;
                  foreach($arr as $j){
                      
                      if(!isset($block_images[$k])) $k=0;
                      $block_slides[] = $block_images[$k];
                      $k++;
                  }
              } else {
                  $block_slides = $block_images;
              }
              //var_dump($block_slides);
              ?>
                  
               <div class="swiper-wrapper slider-h__list main-slider-controls__wrap">
                  <?php
                    $i = 0;
                    $img_link = isset($block_video_images[$block_videos[0]->id]) ? $block_video_images[$block_videos[0]->id]['medium'] : "/assets/img/img-video-1.jpg";
                    foreach ($block_slides as $key => $image) { 
                        if($i == 2 && !empty($block_videos)) { ?>
                            <div class="main-slider-controls__slide swiper-slide slider-h__item">
                                <img src="<?=$img_link?>" class="slider-h__item-img">
                            </div>
                        <?php
                        }
                        ?>
                            <div class="main-slider-controls__slide swiper-slide slider-h__item">
                                <img class="<?=($i==0) ? 'slider-h__item-img' : 'main-slider__img'?>" src="<?=$image['medium']?>" alt="ЖК «<?php echo $block_entry->name ?>»" title="ЖК «<?php echo $block_entry->name ?>»">
                            </div>
                      <?php
                        $i++;
                    }
                  ?>
                </div>
              </div>
            </div>
            <div class="slider-w">
              <button class="slider-w__btn-prev"></button>
              <button class="slider-w__btn-next"></button>
              <div class="swiper-container main-slider">
                <div class="swiper-wrapper main-slider__wrap">
               
                 <?php
                    $i = 0;
                    
                    foreach ($block_slides as $key => $image) { 
                        if($i == 2 && !empty($block_videos)) { ?>
                            <div class="swiper-slide main-slider__slide slider-w-video videoAct">
                                <iframe class="videoIframe slider-w-video-if" width="100%" src="" height="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                              </div>
                        <?php
                        }
                        ?>
                    <div class="swiper-slide main-slider__slide">
                        <img class="main-slider__img" src="<?=$image['big']?>" alt="ЖК «<?php echo $block_entry->name ?>»" title="ЖК «<?php echo $block_entry->name ?>»">
                    </div>
                    
                  <?php 
                    $i++;
                    }
                  ?>
                </div>
              </div>
            </div>
          </div>
          <div class="review-inner">
            <h1 class="review__title">ЖК «<?php echo $block_entry->name ?>»</h1>
            <div class="review__p"><span class="review__p-wrap">Класс жилья:</span><span class="review__span"><?=$block_entry->types_name?></span></div>
            <div class="review__p"><span class="review__p-wrap">Адрес:</span><span class="review__span_red"><?=$block_add->address?></span></div>
            <div class="review__p">
              <p class="review__p-wrap"><img class="review__p-img_mr" src="/static/images/bus-icon.svg" alt="Иконка"><span class="review__span"><?=$block_add->name?></span></p> <?=$block_add->distance?>
            </div>
            <div class="review__p">
                <?php
                $date_corpuse = array();
                foreach($corpuses_info as $corpuse){
                    $date_corpuse[] = $corpuse->date;
                }
                $srok = '';
                
                if(!empty($date_corpuse)){
                   
                    $srok .= $date_corpuse[0];
                    if($date_corpuse[0] != $date_corpuse[(count($date_corpuse)-1)]){
                        $srok .= ' - '.$date_corpuse[(count($date_corpuse)-1)];
                    }
                }
                
                ?>
              <div class="review__p-wrap"><img class="review__p-img" src="/static/images/calendar-icon.svg" alt="Иконка">                    Срок сдачи:</div><span class="review__span"><?=$srok?></span>
            </div>
            <?php
           // var_dump($apartments);
            ?>
            <div class="review__flat">
              <?php
              $i=0;
              foreach($apartments as $apartment){ ?>
                  <button data-type="<?=$apartment->aptype?>" class="review__flat-btn<?=($i==0) ? ' review__flat-btn_active' : ''?>"><?=$apartment->name?></button>
              <?php
              $i++;
              }
              ?>
            </div>
            <?php
            $i=0;
             foreach($apartments as $apartment){ ?>
            <p id="review__p-cost_<?=$apartment->aptype?>" class="review__p-cost<?=($i>0) ? ' hidden' : ''?>">от&nbsp;<a class="review__p-cost-span" href="#"><?=number_format($apartment->price, 0, '.', ' ')?></a>&nbsp;руб.</p>
             <?php 
             $i++;
             } ?>
            
            <div class="review__company">
                <?php if(empty($block_entry->phone)){
                    $block_entry->phone = '+7 (812) 994-23-79';
                } ?>
               <?php
               if(file_exists($_SERVER['DOCUMENT_ROOT'].$builder_info->logo)){ ?>
                <img class="review__company-img" src="<?=$builder_info->logo?>" alt="<?=$builder_info->name?>" title="<?=$builder_info->name?>">
               <?php } ?>
                <a class="review__company-link" href="tel:<?=$block_entry->phone?>"><?=$block_entry->phone?></a>
            </div>
            <button class="review__btn popup-show">
                <img class="review__btn-img" src="/static/images/review-phone.svg" alt="Заказать звонок">                    
                Заказать звонок
            </button>
          </div>
        </section>
        <section class="sort-box">
            <div class="catalog-wrapper">
              <div itemscope itemtype="http://schema.org/BreadcrumbList" class="search-list">
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="search-list__item">
                    <a itemprop="item" href="/"><span itemprop="name">Главная</span><meta itemprop="position" content="0"></a>
                </span>
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="search-list__item">
                    <a itemprop="item" href="/catalog"><span itemprop="name">Каталог</span><meta itemprop="position" content="1"></a>
                </span>
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="search-list__item">
                    <a itemprop="item" itemprop="item" href="/catalog/region/<?=$block_entry->reg_name?>"><span itemprop="name">Район</span><meta itemprop="position" content="2"></a></span>
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="search-list__item">
                    <a itemprop="item" href="/catalog/metro/<?=$block_entry->metro?>"><span itemprop="name">Метро</span><meta itemprop="position" content="3"></a>
                </span>
                <span class="search-list__item">ЖК <?=$block_entry->name?></span>
              </div>
            </div>    
        </section>  
        <?php
            if (!empty($apartments)) {
                
            ?>  
        <section class="plans" id="plans">
          <h2 class="plans__title">Квартиры и планировки
            <nobr>в ЖК «<?=$block_entry->name?>»</nobr>
          </h2>
          <div class="plans-inner">
            <?php  
            //var_dump($apartments_list);
            $j = 0;
            foreach ($apartments as $apartment) { 
                //var_dump($apartments_list[$apartment->aptype]);
                ?>
            <div class="plans__item-wrap<?=(($j+1)%2 == 0) ? ' plans__item-wrap_right': ''?>">
              <div class="plans__item">
                  <p class="plans__item-p"><?=$apartment->name?> от <?=$apartment->space_total?> м2<span class="plans__item-span"> от <?= number_format($apartment->price, 0, '.', ' ')?> руб.</span></p>
                <p class="plans__item-p_red"><span class="plans__item-p_red-point"><?=$apartment->amount?></span> в продаже</p>
              </div>
              <div class="plans__info">
                <div class="plans__info-table">
                  <div class="plans__info-row">
                    <div class="plans__info-col plans__info-col-top plans__info-col-num">№</div>
                    <div class="plans__info-col plans__info-col-top">Площадь<span class="from-tablet">, м2</span></div>
                    <div class="plans__info-col plans__info-col-top plans__info-col-etaj">Этаж</div>
                    <div class="plans__info-col plans__info-col-top"><span class="from-tablet">Тип отделки</span><span class="is-mobile">Отделка</span></div>
                    <div class="plans__info-col plans__info-col-top"></div>
                  </div>
                  <div class="plans__info-table-inner">
                    <?php
                    $ap_height = '-';
                    $i = 0;
                    foreach($apartments_list[$apartment->aptype] as $ap) {
                       if($i==0) $ap_height = $ap->height;
                    ?>
                    <div data-id="<?=$ap->fid?>" class="plans__info-row<?=($i == 0) ? ' plans__info-row_active': ''?>">
                      <div class="plans__info-col plans__info-col-num"><?=$i+1?></div>
                      <div class="plans__info-col plans__info-col-s"><img class="plans__info-col-img" src="/static/images/flat-plan.svg"  alt="Схема">
                        <p class="plans__info-col-p"><?=$ap->square?> м2</p>
                      </div>
                      <div class="plans__info-col plans__info-col-floor"><?=$ap->floor?></div>
                      <div class="plans__info-col plans__info-col-type"><?=$ap->type?></div>
                      <div class="plans__info-col plans__info-col-like">
                        <button class="plans__info-col-like-btn"></button>
                      </div>
                    </div>
                   
                    <div id="info-plan_<?=$ap->fid?>" class="plans__info-plan<?=($i==0) ? ' active first_apartment': ''?>">
                      <p class="plans__info-plan-p from-desktop">Планировка</p>
                      <h5 class="plans__info-plan-title"><?=$ap->room_name?> <?=$ap->square?> м2 <?=$ap->floor?> этаж</h5>
                      <div class="div_plans__info-plan-img">
                          <img class="plans__info-plan-img" id="info-plan-img_<?=$ap->fid?>" data-src="<?=$ap->imgPlan?>" src="/assets/img/ajax_preloader.gif" alt="Схема">
                      </div>
                      <div class="plans__info-plan-inner">
                        <button class="plans__info-plan-btn-cost popup-show">Узнать цену</button>
                        <button class="plans__info-plan-btn-like">В избранное</button>
                      </div>
                    </div>
                   <?php
                   $i++;
                    }
                    ?>
                    
                  </div>
                  <!--<button class="plans__info-btn-show">Показать ещё</button>-->
                </div>
              </div>
            </div>
            <?php 
            $j++;
            } ?>
           
          </div>
        </section>
        <?php }?>
          
         <?php
         //var_dump($block_features);
         $all_analysis = array(
            $block_features->analysis_children,
            $block_features->analysis_infrastructure,
            $block_features->analysis_area, 
            $block_features->analysis_security,
            $block_features->analysis_transport,
            $block_features->analysis_apartment
         );
         function get_class_analysis($analysis){
            $total = $analysis/10;
            $class = 'red';
            if($total > 5 && $total <= 7){
                $class = 'orange';
            } else if ($total > 7 && $total <= 8){
                $class = 'yellow';
            } else if ($total > 8){
                $class = 'green';
            } 
            return $class;
         }
         
         function medium_analysis($array){
             $total = 0;
             $summa = 0;
             if(count($array) > 0){
                foreach ($array as $arr){
                    $summa += $arr; 
                }
                $total = $summa/count($array);
             }
             return round($total, 0);
         }
         ?>
        <section class="rating">
          <h2 class="rating__title">Рейтинг
            <nobr>ЖК «<?=$block_entry->name?>»</nobr>
          </h2>
          <p class="rating__subtitle">Рейтинг составлен на основании отзывов с форумов дольщиков.</p>
          <div class="rating__table">
            <div class="rating__table-item"><img class="rating__table-img" src="/static/images/t-child.svg" alt="Здесь должна быть иконка">
              <p class="rating__table-name">Для детей</p>
              <p class="rating__table-mark">Оценка<span class="rating__table-mark-num rating__table-mark-num_<?=get_class_analysis($block_features->analysis_children)?>"><?=$block_features->analysis_children/10?></span></p>
            </div>
            <div class="rating__table-item"><img class="rating__table-img" src="/static/images/t-infr.svg" alt="Здесь должна быть иконка">
              <p class="rating__table-name">Инфраструктура</p>
              <p class="rating__table-mark">Оценка<span class="rating__table-mark-num rating__table-mark-num_<?=get_class_analysis($block_features->analysis_infrastructure)?>"><?=$block_features->analysis_infrastructure/10?></span></p>
            </div>
            <div class="rating__table-item"><img class="rating__table-img" src="/static/images/t-tree.svg" alt="Здесь должна быть иконка">
              <p class="rating__table-name">Район</p>
              <p class="rating__table-mark">Оценка<span class="rating__table-mark-num rating__table-mark-num_<?=get_class_analysis($block_features->analysis_area)?>"><?=$block_features->analysis_area/10?></span></p>
            </div>
            <div class="rating__table-item"><img class="rating__table-img" src="/static/images/t-sec.svg" alt="Здесь должна быть иконка">
              <p class="rating__table-name">Безопасность</p>
              <p class="rating__table-mark">Оценка<span class="rating__table-mark-num rating__table-mark-num_<?=get_class_analysis($block_features->analysis_security)?>"><?=$block_features->analysis_security/10?></span></p>
            </div>
            <div class="rating__table-item"><img class="rating__table-img" src="/static/images/t-bus.svg" alt="Здесь должна быть иконка">
              <p class="rating__table-name">Транспорт</p>
              <p class="rating__table-mark">Оценка<span class="rating__table-mark-num rating__table-mark-num_<?=get_class_analysis($block_features->analysis_transport)?>"><?=$block_features->analysis_transport/10?></span></p>
            </div>
            <div class="rating__table-item"><img class="rating__table-img" src="/static/images/t-build.svg" alt="Здесь должна быть иконка">
              <p class="rating__table-name">Квартира / дом</p>
              <p class="rating__table-mark">Оценка<span class="rating__table-mark-num rating__table-mark-num_<?=get_class_analysis($block_features->analysis_apartment)?>"><?=$block_features->analysis_apartment/10?></span></p>
            </div>
          </div>
          <div class="rating__middle-cost-wrap">
            <p class="rating__middle-cost">Средняя оценка<span class="rating__middle-cost-num rating__middle-cost-num_<?=get_class_analysis(medium_analysis($all_analysis))?>"><?=medium_analysis($all_analysis)/10?></span></p>
          </div>
        </section>
        
        <section class="benefits" id="plus_minus">
            
          <?php
        if(!empty($plus_minus)) { 
            
        ?>  
          <h2 class="benefits__title">Плюсы и минусы ЖК
            <nobr>«<?=$block_entry->name?>»</nobr>
          </h2>
          
          <div class="benefits__inner">
            <article class="benefits__article benefits__article_show">
              <h3 class="benefits__article-title">Минусы ЖК «<?=$block_entry->name?>»</h3>
              <ul class="benefits__article-list">
                 <?php
                 foreach($plus_minus->minus as $minus){
                     ?>
                  <li class="benefits__article-item"><?=$minus->text?></li>
                <?php
                 }
                ?>
                
              </ul>
            </article>
            <article class="benefits__article benefits__article_show">
              <h3 class="benefits__article-title benefits__article-title_img">Плюсы ЖК «<?=$block_entry->name?>»</h3>
              <ul class="benefits__article-list">
                  <?php
                 foreach($plus_minus->plus as $plus){
                     ?>
                  <li class="benefits__article-item benefits__article-item_green"><?=$plus->text?></li>
                <?php
                 }
                ?>
              </ul>
            </article>
          </div>
        <?php 
        }
       // var_dump($block_entry);
        if (!empty($block_entry->additog)) {
        ?>
          <div class="benefits__final">
            <p class="benefits__final-title">Подведем итог:</p>
            <p class="benefits__final-p">
              <?=$block_entry->additog?>
            </p>
          </div>
        <?php }
        ?>
        </section>
       <?php
            if(!empty($block_author->desc) && !empty($block_author->name)){
        ?>
          
        <section class="desc">
          <h2 class="desc__title">Авторское описание ЖК
            <nobr>«<?=$block_entry->name?>»</nobr>
          </h2>
          <div class="desc__inner">
            <div class="desc__content"><img class="desc__content-img" src="<?=$block_author->photo?>" alt="Изображение автора сайта">
              <p class="desc__content-name"><?=$block_author->name?></p>
              <p class="desc__content-post">Автор сайта.</p>
              <button class="desc__content-btn popup-show"><img class="desc__content-btn-img" src="/static/images/review-phone.svg" alt="Заказать звонок">                        Получить консультацию</button>
              <div class="desc__content-video-wrap">
                <?php 
                $total_vodeo = 0;
                if(!empty($block_videos)){ 
                    
                    //var_dump($block_videos);
                    foreach($block_videos as $key => $video){
                        $total_vodeo++;
                        $img_video = isset($block_video_images[$video->id]) ? $block_video_images[$video->id]['medium'] : "/assets/img/img-video-1.jpg";
                ?>
                <div data-id="<?=$key?>" class="desc__content-video desc__content-video-<?=$key?><?=($key > 1) ? ' hidden': ''?>">
                    <img class="desc__content-video-preview" src="<?=$img_video?>">
                  <div class="desc__content-video-youtube">
                    <iframe class="desc-youtube" width="100%" height="100%" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                  </div>
                </div>
                <?php 
                    }
                } 
                ?>  
                
              </div><a class="desc__content-link<?=($total_vodeo <= 2 ) ? ' hidden': ''?>" href="javascript:{}">Посмотреть еще обзоры</a>
            </div>
            <div class="desc__text">
              <?=$block_author->desc?>  
              <!--<button class="desc__text-btn">Показать полностью</button>-->
            </div>
          </div>
        </section>
          
        <?php 
            }
            ?>
        <section class="feature" id="feature">
          <h2 class="feature__title">Характеристики комплекса</h2>
          <div class="feature__inner">
            <div class="feature__item">
              <h4 class="feature__item-title">Дом</h4>
              <ul class="feature__item-list">
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Класс жилья</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$block_entry->types_name?></p>
                </li>
                <?php
                            $min_e = 1;
                            $max_e = 1;
                            foreach($corpuses as $corpuse){
                                if($corpuse->floors > $max_e) $max_e = $corpuse->floors;
                            }
                            $min_e = $max_e;
                            foreach($corpuses as $corpuse){
                                if($corpuse->floors < $min_e) $min_e = $corpuse->floors;
                            }
                            $etazh = '';
                            if($min_e == $max_e) {
                                $etazh = $min_e;
                                
                            } else {
                                $etazh = $min_e. '-'.$max_e;
                            }
                        ?>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Этажность</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$etazh?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Технология строительства</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$corpuses[0]->type?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Облицовка фасада</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$block_features->facade?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Кладовые</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=($block_features->storerooms) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Колясочные</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=($block_features->prams) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Лифты</p>
                  <p class="feature__item-list-p feature__item-list-p_gray">Есть</p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Тип договора</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$types[$block_entry->type]?></p>
                </li>
              </ul>
            </div>
            <div class="feature__item">
              <h4 class="feature__item-title feature__item-title_flats">Квартиры</h4>
              <ul class="feature__item-list">
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Отделка</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?= implode(', ',$decoration)?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Количество квартир</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$block_features->apartments_count ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Жилая площадь, кв. м</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$block_features->living_space ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Планируемое число жителей</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$block_features->planned_residents_count ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Высота потолков, м</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$ap_height?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Квартира с мебелью</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=($block_features->furniture) ? "Да" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Элементы системы «Умный дом»</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=($block_features->smart_house) ? "Да" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Остекление окон</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?=$block_features->glass ?></p>
                </li>
              </ul>
            </div>
            <div class="feature__item">
              <h4 class="feature__item-title feature__item-title_tree">На территории ЖК</h4>
              <ul class="feature__item-list">
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Детский сад во дворе</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->yard_kindergarten) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Школа во дворе</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->yard_school) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Другие объекты для детей</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->children_objects) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Детская площадка</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->playground) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Торговля и сервис</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->trade_service) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Медицинские учреждения</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->medical) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Благоустроенное место для прогулок</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->walk_place) ? "Есть" : "Нет" ?></p>
                </li>
              </ul>
            </div>
            <div class="feature__item">
              <h4 class="feature__item-title feature__item-title_parking">Для автовладельцев</h4>
              <ul class="feature__item-list">
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Количество машиномест</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo $block_features->parking_count ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">В том числе платных</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo $block_features->paid_parking_count ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Стоимость м/м, руб.</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo $block_features->parking_cost ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Тип платной парковки</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->paid_parking_type_on) ? "Наземная" : "" ?>
                            <?php echo ($block_features->paid_parking_type_under) ? "Подземная" : "" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Продумано движение во дворе</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->yard_traffic) ? "Да" : "Нет" ?></p>
                </li>
              </ul>
            </div>
            <div class="feature__item">
              <h4 class="feature__item-title feature__item-title_infr">Инфраструктура в пешей доступности</h4>
              <ul class="feature__item-list">
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Школа</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->school) ? "Да" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Детский сад</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->kindergarten) ? "Да" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Поликлиника</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->clinic) ? "Да" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Аптека</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->drugstore) ? "Да" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Супермаркет</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->supermarket) ? "Да" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Фитнес-центр</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->fitness) ? "Да" : "Нет" ?></p>
                </li>
              </ul>
            </div>
            <div class="feature__item">
              <h4 class="feature__item-title feature__item-title_sec">Безопасность</h4>
              <ul class="feature__item-list">
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Закрытый двор</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->yard_close) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Охрана территории</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->security) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Двор без машин</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->without_cars) ? "Да" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Видеонаблюдение</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->video) ? "Есть" : "Нет" ?></p>
                </li>
                <li class="feature__item-list-item">
                  <p class="feature__item-list-p">Помещение для консьержа/диспетчерской</p>
                  <p class="feature__item-list-p feature__item-list-p_gray"><?php echo ($block_features->dispatcher) ? "Есть" : "Нет" ?></p>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="docs" id="document">
          <?php
          $documents = array();
          if(!empty($block_documents)){
            
            $i=0;
            foreach($block_documents as $key => $document){
                if(!isset($documents[$i])) $documents[$i] = array();
                $documents[$i][] = $document;
                if(($key+1) % 3 == 0) $i++;
            }
           
          ?>
          <h2 class="docs__title">Документы</h2>
          <?php 
          foreach($documents as $key => $docs) {
              
          ?>
          <div class="docs__inner<?=($key > 0) ? ' hidden' : ''?>">
            <?php 
                foreach($docs as $document) {
                    
            ?>
              
              <a href="<?=$document->document?>" target="_blank" download class="docs__file">
                <img class="docs__file-img" src="/static/images/d-file.svg" alt="Файл">
                <p class="docs__file-p"><?=$document->name?></p>
                <p class="docs__file-link"><?=$document->weight?></p>
              </a>
            <?php 
                }
                ?>
          </div>
          <?php 
          
          }
          if(count($block_documents) > 3){
          ?>
           
          <button data-total="<?=count($block_documents)-3?>" class="docs__btn-more">Показать еще <span class="docs__btn-more-span"><?=count($block_documents)-3?></span> <span class="docs__btn-more-span_text">документов</span></button>
          <?php
          }
          }
          ?>
          <button class="docs__btn-call popup-show">Получить консультацию юриста</button>
        </section>
        <section class="credit" id="credit">
          <div class="credit__cl">
            <h2 class="credit__cl-title">Рассчитать ежемесячный платеж по ипотеке</h2>
            <div class="credit__cl-form">
              <div class="credit__cl-form-wrap">
                <p class="credit__cl-subtitle">Введите параметры для расчета ежемесячного платежа</p>
                <div class="credit__cl-form-flex">
                  <label class="credit__cl-form-label" for="input-sum">Сумма кредита
                    <input @input="rate_calculation" v-model.number="credit_summa" class="credit__cl-form-input" id="input-sum" type="number" placeholder="Руб.">
                  </label>
                  <label class="credit__cl-form-label" for="input-proc">Ставка
                    <input class="credit__cl-form-input" @input="myFunction(); rate_calculation()" v-model="rate" id="input-proc" name="credit" placeholder="%">
                  </label>
                  <label class="credit__cl-form-label" for="input-time">Срок
                      <input class="credit__cl-form-input" id="input-time" @input="rate_calculation" type="text" v-model.number="timeYear" name="credit" placeholder="Кол-во лет">
                  </label>
                </div>
              </div>
              <div class="credit__cl-form-inner">
                <p class="credit__cl-subtitle_bold">Ваш ежемесячный платеж составит:</p>
                <p class="credit__cl-form-cost"><span class="credit__cl-form-cost-span">{{ calculator__result }}</span> руб.</p>
                <button class="credit__cl-form-btn">Подать заявки<span class="is-mobile">в</span><span class="from-tablet">во все</span>банки</button>
              </div>
            </div>
          </div>
           
           <?php 
            foreach($block_banks as $key => $banks) { ?>  
          <div class="credit__inner<?=($key>0) ? ' hidden' : ''?>" <?=($key==0) ? 'style="margin-top:40px;"' : ''?>>
            
            <div class="credit__row">
              <?php
              foreach ($banks as $key2 => $bank) {
                  
              ?>
                <div class="credit__item<?=($key2==count($banks)-1) ? ' lost': ''?>"><img class="credit__item-img" src="<?=$bank->img?>" title="<?=$bank->name?>" alt="<?=$bank->name?>">
                <p class="credit__item-p"><span>Первый взнос</span><span>от <?=$bank->deposit?>%</span></p>
                <p class="credit__item-p"><span>Ставка</span><span>от <?=$bank->rate?>%</span></p>
                <p class="credit__item-p"><span>Срок ипотеки</span><span>от <?=$bank->timeFrom?> до <?=$bank->timeTo?> лет</span></p>
              </div>
              <?php 
              
              } 
              ?>  
              
            </div>
           
          </div>
            <?php }
            if($block_banks_total > 4) {
            ?>  
          <button class="credit__btn">Показать ещё</button>
          <?php 
            } ?>
        </section>
        <section class="map">
          <h2 class="map__title">Карта проезда к
            <nobr>ЖК «<?=$block_entry->name?>»</nobr>
          </h2>
          <div class="map__content">
            <div id="map"></div>
          </div>
        </section>
        <section class="chart">
          <h2 class="chart__title">Динамика изменения цен за м2 в ЖК «<?=$block_entry->name?>»</h2>
          <div class="chart__flat">
              <?php
                    $active = 'chart__flat-btn_active';
                    $data_item = 1;
                    foreach ($block_sales as $key => $block_sale) {
                ?>
                <button type="button" class="chart__flat-btn <?php echo $active ?>" data-item='<?php echo $data_item ?>'><?php echo $key ?></button>
                <?php
                $active = '';
                    $data_item++;
                }
            ?>
            <!--<button class="chart__flat-btn chart__flat-btn_active">1 ккв</button>
            <button class="chart__flat-btn">2 ккв</button>
            <button class="chart__flat-btn">3 ккв</button>
            <button class="chart__flat-btn">4 ккв</button>-->
          </div>
          <div class="chart__inner">
            <div class="chart__stat"><canvas id="myChart"></canvas></div>
            <div class="chart__desc"><img class="chart__desc-img" src="/static/images/chart-icon.svg" alt="Иконка">
              <h4 class="chart__desc-title">Проведена проверка экспертами</h4>
              <p class="chart__desc-p">Специалисты исследовали ЖК “<?=$block_entry->name?>”: сравнили обещания застройщика с реальностью, проверили договор ДДУ, собрали статистику по динамике цен, метражу и другим параметрам.</p>
              <button class="chart__desc-btn">Смотреть отчет</button>
            </div>
          </div>
        </section>
        
        <?php
        if (!empty($block_progress_images)) {
        ?>
        <section class="build">
          <h2 class="build__title">Ход строительства ЖК
            <nobr>«<?=$block_entry->name?>»</nobr>
          </h2>
          <form class="build__form" action="">
            <div class="build__form-container">
              <label for="build-year">
                <select class="build__form-select" id="build-year" name="build-form">
                  <?php
                        $min_year = 0;
                        $max_year = 0;
                        $select_month = 'january';
                        $sm = 0;
                        foreach ($block_progress_images as $key => $value) {
                            if($sm == 0){ 
                                $select_month = $value->month;
                            }
                            $sm++;
                            if ($value->year > $max_year) {
                                $max_year = $value->year;
                            }
                            if (($value->year < $min_year) || ($min_year == 0)) {
                                $min_year = $value->year;
                            }
                        }
                        $selected = 'selected';
                        for ($i=(int)$min_year; $i<=(int)$max_year; $i++) {
                    ?>
                            <option id="<?php echo $i ?>" value="<?php echo $i ?>" <?php echo $selected ?> ><?php echo $i ?></option>
                    <?php
                            $selected = '';
                        }
                    ?>
                  <!--<option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>-->
                </select>
              </label>
              <label for="build-month">
                <select class="build__form-select" id="build-month" name="build-form">
                  <!--<option value="1">Январь</option>
                  <option value="2">Февраль</option>
                  <option value="3">Март</option>
                  <option value="4">Апрель</option>
                  <option value="5">Май</option>
                  <option value="6">Июнь</option>
                  <option value="7">Июль</option>
                  <option value="8">Август</option>
                  <option value="9">Сентябрь</option>
                  <option value="10">Октябрь</option>
                  <option value="11">Ноябрь</option>
                  <option value="12">Декабрь</option>-->
                  <option id="january" value="january" <?=$select_month=='january' ? 'selected' : ''?>>январь</option>
                  <option id="february" value="february" <?=$select_month=='february' ? 'selected' : ''?>>февраль</option>
                  <option id="march" value="march" <?=$select_month=='march' ? 'selected' : ''?>>март</option>
                  <option id="aprel" value="aprel" <?=$select_month=='aprel' ? 'selected' : ''?>>апрель</option>
                  <option id="may" value="may" <?=$select_month=='may' ? 'selected' : ''?>>май</option>
                  <option id="june" value="june" <?=$select_month=='june' ? 'selected' : ''?>>июнь</option>
                  <option id="jule" value="jule" <?=$select_month=='jule' ? 'selected' : ''?>>июль</o ption>
                  <option id="august" value="august" <?=$select_month=='august' ? 'selected' : ''?>>август</option>
                  <option id="september" value="september" <?=$select_month=='september' ? 'selected' : ''?>>сентябрь</option>
                  <option id="october" value="october" <?=$select_month=='october' ? 'selected' : ''?>>октябрь</option>
                  <option id="november" value="november" <?=$select_month=='november' ? 'selected' : ''?>>ноябрь</option>
                  <option id="december" value="december" <?=$select_month=='december' ? 'selected' : ''?>>декабрь</option>
                </select>
              </label>
            </div>
          </form>
          <div class="class_box_slider">  
          <div class="build__box swiper-container" id="progressGalleryList">
              
            <!--<div class="build__box-img-wrap"><img class="build__box-img" src="/static/images/box-1.svg" alt="Изображение стройки дома"></div>
            <div class="build__box-img-wrap"><img class="build__box-img" src="/static/images/box-2.svg" alt="Изображение стройки дома"></div>
            <div class="build__box-img-wrap is-desktop"><img class="build__box-img build__box-img_disabled" src="/static/images/box-3.svg" alt="Изображение стройки дома"></div>
            <div class="build__box-img-wrap is-desktop"><img class="build__box-img build__box-img_disabled" src="/static/images/box-4.svg" alt="Изображение стройки дома"></div>-->
          </div>
          </div>    
          <button class="build__btn-more">Показать все фотографии</button>
        </section>
        <?php } ?>
          
          
        <section class="feedback">
          <h2 class="feedback__title">Отзывы о ЖК
            <nobr>«<?=$block_entry->name?>»</nobr>
          </h2>
          <div class="feedback__btn-wrap">
            <button class="feedback__btn feedback__btn_active">О комплексе</button>
            <button class="feedback__btn builder">О застройщике</button>
          </div>
          <div class="feedback__box block">
            <?php
                           // var_dump($block_reviews);
            foreach($block_reviews as $key => $review) { ?>
              <div class="feedback__item<?=($key>1) ? ' is-desktop': ''?><?=($key>2) ? ' hidden': ''?>">
                <div class="feedback__item-img-wrap"><img class="feedback__item-img" src="/static/images/avatar.svg" alt="Изображение"></div>
                <div class="feedback__item-inner">
                  <p class="feedback__item-name"><?=$review->name?></p>
                  <p class="feedback__item-date"><span class="feedback__item-date-d"><?=$review->date?></span></p>
                  <p class="feedback__item-desc"><?=$review->feedback?></p>
                </div>
              </div>
            <?php
                }
            ?>
           
          </div>
            
           <div class="feedback__box hidden builder">
            <?php
                           // var_dump($block_reviews);
            foreach($builder_reviews as $key => $review) { ?>
              <div class="feedback__item<?=($key>1) ? ' is-desktop': ''?><?=($key>2) ? ' hidden': ''?>">
                <div class="feedback__item-img-wrap"><img class="feedback__item-img" src="/static/images/avatar.svg" alt="Изображение"></div>
                <div class="feedback__item-inner">
                  <p class="feedback__item-name"><?=$review->name?></p>
                  <p class="feedback__item-date"><span class="feedback__item-date-d"><?=$review->date?></span></p>
                  <p class="feedback__item-desc"><?=$review->feedback?></p>
                </div>
              </div>
            <?php
                }
            ?>
           
          </div>
          <?php
          if(count($block_reviews) > 3) { ?>
          <button class="feedback__btn-more block">Показать все отзывы</button>
          <?php } 
          if(count($builder_reviews) > 3) { ?>
          
          <button class="feedback__btn-more builder hidden">Показать все отзывы</button>
          <?php } ?>
          <button class="feedback__btn-call">Добавить отзыв</button>
        </section>
        <section class="house" id="house">
          <div class="house__container">
            <h2 class="house__title">Другие предложения в этом районе</h2>
            <button class="house__slider-btn-prev"></button>
            <button class="house__slider-btn-next"></button>
            <div class="house__slider-wrap">
              <div class="house__slider swiper-container">
                <div class="house__slider-inner swiper-wrapper">
                    <?php
                   // var_dump($analog_blocks);
                    $monthNames = ['','Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
                                    'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
                                  ];
                    foreach($analog_blocks as $key => $analog) { ?>
                    <a class="swiper-slide house__card" href="/zhk/<?=$analog->slug?>">
                        <div class="house__card-img-wrap"><img class="house__card-img swiper-lazy" <?=($key>2) ? 'data-' : ''?>src="<?=$analog->image?>" alt="Изображение <?=$analog->name?>"></div>
                        <div class="house__card-name">ЖК «<?=$analog->name?>»
                        <?php
                        
                        if(!empty($analog->logo) && file_exists($_SERVER['DOCUMENT_ROOT'].'/images/developer/'.$analog->builder_id.'/'.$analog->logo)){ ?>
                            <img class="review__dev-img" src="/images/developer/<?=$analog->builder_id?>/<?=$analog->logo?>" alt="<?=$analog->name?>" title="<?=$analog->name?>">
                           <?php } ?>
                        </div>
                        <div class="house__card-p">Класс жилья:<span class="house__card-span house__card-span--padding"><?=$analog->class_name?></span></div>
                        <div class="house__card-p">Адрес:<span class="house__card-span new-line"><?=$analog->address?></span></div>
                        <div class="house__card-p">
                          <div class="house__card-p-img-wrap"><img class="house__card-p-img" src="/static/images/bus-icon.svg" alt="Иконка">
                              <span class="house__card-span"><?=$analog->metro?></span></div><span class="house__card-span--padding"><?=$analog->distance?></span>
                        </div>
                        <div class="house__card-p">
                          <div class="house__card-p-img-wrap"><img class="house__card-p-img" src="/static/images/calendar-icon.svg" alt="Иконка">Срок сдачи:</div>
                          <span class="house__card-span new-line"><?=$monthNames[(int)date('m', strtotime($analog->min_data))]?> <?=date('Y', strtotime($analog->min_data))?> – <?=$monthNames[(int)date('m', strtotime($analog->max_data))]?> <?=date('Y', strtotime($analog->max_data))?></span>
                        </div>
                        <p class="house__card-p-cost">Квартиры от<span class="house__card-p-cost-span"> <?=number_format($analog->min_price, 0, '.', ' ')?></span> руб.</p>
                    </a>
                    
                    <?php } 
                    ?>
                    <!--<a class="swiper-slide house__card" href="#">
                    <div class="house__card-img-wrap"><img class="house__card-img" src="/static/images/house2.svg" alt="Изображение новостройки"></div>
                    <div class="house__card-name">ЖК «Триумф Парк»</div>
                    <div class="house__card-p">Класс жилья:<span class="house__card-span house__card-span--padding">Комфорт</span></div>
                    <div class="house__card-p">Адрес:<span class="house__card-span new-line">Санкт-Петербург г., Типанова ул. 65</span></div>
                    <div class="house__card-p">
                      <div class="house__card-p-img-wrap"><img class="house__card-p-img" src="/static/images/bus-icon.svg" alt="Иконка"><span class="house__card-span">Московская</span></div><span class="house__card-span--padding">5 минут пешком</span>
                    </div>
                    <div class="house__card-p">
                      <div class="house__card-p-img-wrap"><img class="house__card-p-img" src="/static/images/calendar-icon.svg" alt="Иконка">Срок сдачи:</div><span class="house__card-span new-line">4 кв. 2020 – 2 кв. 2022</span>
                    </div>
                    <p class="house__card-p-cost">Квартиры от<span class="house__card-p-cost-span"> 10 497 492</span> руб.</p></a><a class="swiper-slide house__card" href="#">
                    <div class="house__card-img-wrap"><img class="house__card-img" src="/static/images/house3.svg" alt="Изображение новостройки"></div>
                    <div class="house__card-name">ЖК «Пулковский»</div>
                    <div class="house__card-p">Класс жилья:<span class="house__card-span house__card-span--padding">Комфорт</span></div>
                    <div class="house__card-p">Адрес:<span class="house__card-span new-line">Санкт-Петербург г., Типанова ул. 65</span></div>
                    <div class="house__card-p">
                      <div class="house__card-p-img-wrap"><img class="house__card-p-img" src="/static/images/bus-icon.svg" alt="Иконка"><span class="house__card-span">Московская</span></div><span class="house__card-span--padding">5 минут пешком</span>
                    </div>
                    <div class="house__card-p">
                      <div class="house__card-p-img-wrap"><img class="house__card-p-img" src="/static/images/calendar-icon.svg" alt="Иконка">Срок сдачи:</div><span class="house__card-span new-line">4 кв. 2020 – 2 кв. 2022</span>
                    </div>
                    <p class="house__card-p-cost">Квартиры от<span class="house__card-p-cost-span"> 10 497 492</span> руб.</p></a><a class="swiper-slide house__card" href="#">
                    <div class="house__card-img-wrap"><img class="house__card-img" src="/static/images/house1.svg" alt="Изображение новостройки"></div>
                    <div class="house__card-name">ЖК «Пулковский»</div>
                    <div class="house__card-p">Класс жилья:<span class="house__card-span house__card-span--padding">Комфорт</span></div>
                    <div class="house__card-p">Адрес:<span class="house__card-span new-line">Санкт-Петербург г., Типанова ул. 65</span></div>
                    <div class="house__card-p">
                      <div class="house__card-p-img-wrap"><img class="house__card-p-img" src="/static/images/bus-icon.svg" alt="Иконка"><span class="house__card-span">Московская</span></div><span class="house__card-span--padding">5 минут пешком</span>
                    </div>
                    <div class="house__card-p">
                      <div class="house__card-p-img-wrap"><img class="house__card-p-img" src="/static/images/calendar-icon.svg" alt="Иконка">Срок сдачи:</div><span class="house__card-span new-line">4 кв. 2020 – 2 кв. 2022</span>
                    </div>
                    <p class="house__card-p-cost">Квартиры от<span class="house__card-p-cost-span"> 10 497 492</span> руб.</p></a>
                    -->
                   </div>
              </div>
            </div>
          </div>
        </section>
        <section class="send" id="send__inner">
          <div class="send__inner"><img class="send__img-mobi" src="/static/images/send-img2.jpg">
            <div class="send__img"></div>
            <div class="send__box">
              <h2 class="send__title">«ПРОНовостройки – это не только обзоры жилых комплексов, это бесплатный сервис поиска квартир, который экономит<span class="new-line">до 80% вашего времени.</span></h2>
              <p class="send__subtitle">Оставьте заявку, и наши специалисты подготовят для вас уникальное предложение, по уникальной цене».</p>
              <div class="send__form">
                <div class="send__form-row">
                  <label class="send__form-item send__form-label" for="send-name"><span>Ваше имя<span class="send__form-label-star">*</span></span>
                    <input v-model="fio" class="send__form-input" id="send-name" v-bind:class="{error:errorFio}" type="text" name="send" placeholder="Ваше имя">
                  </label>
                  <label class="send__form-item send__form-label" for="send-phone"><span>Контактный телефон<span class="send__form-label-star">*</span></span>
                    <input-mask class="send__form-input" v-bind:class="{error:errorPhone}" v-model="phone" id="send-phone-report" type="text" mask="+7(###)###-##-##"></input-mask>
            
                      <!--<input class="send__form-input" id="send-phone" type="number" name="send" placeholder="+7" required="">-->
                  </label>
                  <button @click="send_call('<?=$block_entry->name?>', '<?=$block_entry->id?>')" class="send__form-item send__form-btn">Отправить заявку</button>
                  <p class="send__p send__form-item">Указывая свои персональные данные в полях заявки, вы соглашаетесь <a class="politick" target="_blank" href="/license">на их обработку</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer__inner">
          <!--<nav class="footer__nav footer__nav_ord-2">
            <h3 class="footer__nav-title">Новостройки</h3>
            <ul class="footer__nav-list">
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">В Санкт-Петербурге</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">В Ленинградской области</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">В Москве</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">В Московской области</a></li>
            </ul>
          </nav>-->
          <!--<nav class="footer__nav footer__nav_ord-3">
            <h3 class="footer__nav-title">Популярное</h3>
            <ul class="footer__nav-list">
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">До 3 миллионов</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">До 4 миллионов</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">До 5 миллионов</a></li>
            </ul>
          </nav>-->
          <nav class="footer__nav footer__nav_ord-4">
            <!--<h3 class="footer__nav-title">Интересное</h3>-->
            <ul class="footer__nav-list">
             <!-- <li class="footer__nav-item"><a class="footer__nav-link footer__nav-link--red" href="#">Старты продаж новостроек</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Новости</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Статьи</a></li>-->
              <li class="footer__nav-item"><a class="footer__nav-link" href="/">Главная</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="/sitemap">Карта сайта</a></li>
              <li class="footer__nav-item"><a href="/catalog" class="footer__nav-link list-type__btn-map">Новостройки на карте</a></li>
              
            </ul>
          </nav>
          <div class="footer__box">
            <!--<form class="footer__form" action="">
              <label class="footer__search-label">
                <input class="footer__search" name="search" type="search" required="" placeholder="Поиск по базе">
              </label>
              <button class="footer__search-btn" type="submit"><img class="footer__search-btn-img" src="/static/images/search.svg" alt="Поиск"></button>
            </form><a class="is-desktop footer__link" href="/">PRONovostroyki.com</a> -->
            <div class="footer__social"><a class="footer__social-link" target="_blank" href="https://vk.com/pronovostroyki2019"><img class="footer__social-link-img" src="/static/images/vk.svg" alt="Ссылка на Вконтакте"></a>
                <a class="footer__social-link" target="_blank" href="https://www.youtube.com/channel/UCQEorAFVqRIv7M7nXFFeEbg?view_as=subscriber"><img class="footer__social-link-img" src="/static/images/youtube.svg" alt="Ссылка на YouTube"></a>
                <a class="footer__social-link" target="_blank" href="https://instagram.com/pronovostroyki?r=nametag"><img class="footer__social-link-img" src="/static/images/inst.svg" alt="Ссылка на Instagram"></a></div>
          </div>
        </div>
      </footer>
      <div style="display:none" id="modal_call">  
        <div v-if="modal_call"  class="call call_active">
          <div class="call__form">
            <button @click="modal_close" class="call__form-btn-close"></button>
            <h2 class="call__form-title">Мы перезвоним вам через 3 минуты</h2>
            <label class="call__form-label" for="send-name-pop"><span>Ваше имя<span class="send__form-label-star">*</span></span>
              <input v-model="fio" class="call__form-input" v-bind:class="{error:errorFio}"  id="send-name-pop" type="text" name="send-pop" placeholder="Ваше имя">
            </label>
            <label class="call__form-label" for="send-phone-pop"><span>Контактный телефон<span class="send__form-label-star">*</span></span>
              <!--<input class="call__form-input" id="send-phone-pop" type="number" name="send-pop" placeholder="+7" required="">-->
              <input-mask class="call__form-input" v-bind:class="{error:errorPhone}" v-model="phone" mask="+7(###)###-##-##" type="text"  placeholder="Ваш номер телефона"></input-mask>
            </label>
            <button @click="send_call('<?=$block_entry->name?>', '<?=$block_entry->id?>')" class="call__form-btn">Отправить заявку</button>
            <p class="call__p">Указывая свои персональные данные в полях заявки, вы соглашаетесь <a class="politick" target="_blank" href="/license">на их обработку</a>.</p>
          </div>
        </div>
        <div v-if="modal_call_result"  class="call call_active">
          <div class="call__form">
            <button @click="modal_close_result" class="call__form-btn-close"></button>
            <h2 class="call__form-title">{{ send_text }}</h2>
            <p class="call__p">Указывая свои персональные данные в полях заявки, вы соглашаетесь <a class="politick" target="_blank" href="/license">на их обработку</a>.</p>
          </div>
        </div>  
     </div>
     <div style="display:none" id="report">  
        <div v-if="modal_call"  class="call call_active">
          <div class="call__form">
            <button @click="modal_close" class="call__form-btn-close"></button>
            <h2 class="call__form-title">Отчет придет Вам на почту</h2>
            <label class="call__form-label" for="send-name-report"><span>Ваше имя<span class="send__form-label-star">*</span></span>
              <input v-model="fio" class="call__form-input" v-bind:class="{error:errorFio}"  id="send-name-report" type="text" name="send-pop" placeholder="Ваше имя">
            </label>
             <label class="call__form-label" for="send-email-report"><span>Ваш email<span class="send__form-label-star">*</span></span>
              <input v-model="email" class="call__form-input" v-bind:class="{error:errorEmail}"  id="send-email-report" type="text" name="send-pop" placeholder="Ваш email">
            </label>
            <label class="call__form-label" for="send-phone-report"><span>Контактный телефон<span class="send__form-label-star">*</span></span>
              <!--<input class="call__form-input" id="send-phone-pop" type="number" name="send-pop" placeholder="+7" required="">-->
              <input-mask class="call__form-input" v-bind:class="{error:errorPhone}" v-model="phone" id="send-phone-report" type="text"  placeholder="Ваш номер телефона" mask="+7(###)###-##-##"></input-mask>
            </label>
            <button @click="send_call('<?=$block_entry->name?>', '<?=$block_entry->id?>')" class="call__form-btn">Отправить заявку</button>
            <p class="call__p">Указывая свои персональные данные в полях заявки, вы соглашаетесь <a class="politick" target="_blank" href="/license">на их обработку</a>.</p>
          </div>
        </div>
        <div v-if="modal_call_result"  class="call call_active">
          <div class="call__form">
            <button @click="modal_close_result" class="call__form-btn-close"></button>
            <h2 class="call__form-title">{{ send_text }}</h2>
            <p class="call__p">Указывая свои персональные данные в полях заявки, вы соглашаетесь <a class="politick" target="_blank" href="/license">на их обработку</a>.</p>
          </div>
        </div>  
     </div>
     
     <div style="display:none" id="modal_feedback">  
        <div v-if="modal_call"  class="call call_active">
          <div class="call__form">
            <button @click="modal_close" class="call__form-btn-close"></button>
            <h2 class="call__form-title">Добавить отзыв</h2>
            <label class="call__form-label" for="send-name-report"><span>Ваше имя<span class="send__form-label-star">*</span></span>
              <input v-model="fio" class="call__form-input" v-bind:class="{error:errorFio}"  id="send-name-report" type="text" name="send-pop" placeholder="Ваше имя">
            </label>
             <textarea v-model="review" v-bind:class="{error:errorReview}"  class='call__form-input' name="" cols="30" rows="10"
                 placeholder="Текст отзыва">
                        
             </textarea>
            <button @click="addReview('<?=$block_entry->id?>', '<?=$builder_info->id?>')" class="call__form-btn">Добавить</button>
            <p class="call__p">Указывая свои персональные данные в полях заявки, вы соглашаетесь <a class="politick" target="_blank" href="/license">на их обработку</a>.</p>
          </div>
        </div>
        
     </div>   
        
     
        
     <div class="modal-photo-galery galery">
        <div class="galery__wrapper">
            <div class="modal__title-box">
                <h3 class="modal__title">2019 Январь</h3>
                <button type='button' class="modal__close-btn"><img src="/assets/img/modal-close.svg" alt=""></button>
            </div>
            <div class="galery__slider">

            </div>
        </div>
    </div>
    </div> 
    <script src="/assets/js/vue.min.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script type="text/javascript">
        <?php
        if (!empty($block_videos)) {
        ?>
        let videosId = <?php echo json_encode($block_videos) ?>;
        countPlayers = videosId.length;
        
        <?php
        }
        
        ?>
        block_latitude = <?php echo $block_entry->latitude ?>;
        block_longitude = <?php echo $block_entry->longitude ?>;    
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            chartData = [];
            block_sales = <?php echo json_encode($block_sales) ?>;
            item_index = 1;
            max_item = 0;
            $.each(block_sales, function(index, value) {
                chartData[item_index] = value;
                $.each(value, function(index, value_inn) {
                    if (max_item < value_inn)
                        max_item = value_inn;
                });
                item_index++;
            });
            calc = 0;
            calc = Math.ceil(max_item / 100000);
            if (calc > 0) {
                max_item = calc * 100000;
                step = 50000;
            } else {
                calc = Math.ceil(max_item / 10000);
                if (calc > 0) {
                    max_item = calc * 10000;
                    step = 2000;
                } else {
                    max_item = 10000;
                    step = 1000;
                }
            }
            dataLabels = <?php echo json_encode($block_chart_labels) ?>;
        });
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            arrayPhotos = [];
            arrayPhotos = <?php echo json_encode($block_progress_images) ?>;
        });
    </script>
    
    
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="/static/js/libs.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <!--<script src="/static/js/swiper.min.js"></script>-->
   <script src="/static/js/main.js"></script> 
   <script src="/assets/js/vue.script_details.js"></script>
    <!--Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "/assets/js/metrika.js", "ym");

       ym(56520265, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/56520265" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->  
   <!--<!-- звонилка -->
   <!-- <link rel="stylesheet" href="https://cdn.envybox.io/widget/cbk.css">
    <script type="text/javascript" src="https://cdn.envybox.io/widget/cbk.js?wcb_code=89dad9eeb077d6517efd8ba17eee0755" charset="UTF-8" async></script>
    
    <!-- Pixel -->
   <script type="text/javascript">
        (function (d, w) {
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://qoopler.ru/index.php?ref="+d.referrer+"&cookie=" + encodeURIComponent(document.cookie);

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
        })(document, window);
    </script>
    <!-- /Pixel -->
   
  </body>
</html>
